
<h2 class="b-top-head">Güncel Döviz Kurları</h2>
<table id="customers">
    <tr>
        <th>USD/TRY</th>
        <th>USD/EUR</th>
        <th>USD/ANG</th>
        <th>USD/KRW</th>
    </tr>
    <tr id="currency"></tr>
</table>
