@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-8">
        <h2 class="b-top-head">Big Para Gündem</h2>
        <div id="bigParaHaber"></div>
        <br /><br />
    </div>

    <div class="col-md-4">
        
        @Html.Partial("_Currency")

        <br />
        <br />

    </div>
</div>



